@import "src/app/styles/colors";
.form {
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: 0px;
  padding-right: 18px;
}

.form-responsive {
  margin-left: 2em;
  margin-right: 2em;
  overflow: auto;
  position: relative;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.button-header {
  background-color: #327ebd;
  color: white;
  padding: 0 5px;
}

.delete-style {
  cursor: pointer;
  color: red;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.edit-button {
  color: $blue;
}

.delete-button {
  color: $dark-pink;
}

.mat-divider {
  color: #327ebd;
  border-top-width: 4px;
}

.button {
  margin-left: 30px;
}
.mat-card {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.button-component-holder {
  border: 1px solid #327ebd;
  background-color: white;

  h4 {
    color: black;
    margin: 14px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  mat-divider {
    margin-bottom: 10px;
  }
}
.mat-header-cell {
  color: #03a9f4;
  text-align: center;
}
