<mat-card style="margin-bottom: 5%">
  <div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="button-component-holder mat-elevation-z4">
      <mat-toolbar class="button-header">
        <h5 class="p-2" style="padding-top: 20px; margin-left: 20px">Mass Dog Vaccination</h5>
      </mat-toolbar>
      <div class="button-container">
        <div class="container">
          <form class="form-horizontal form" [formGroup]="massDogForm">
            <div class="container">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Program Name<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="programId" readonly>
                      <mat-option value="">Select Program</mat-option>
                      <mat-option *ngFor="let program of programs" [value]="program.id">
                        {{ program.programName }}</mat-option
                      >
                    </mat-select>
                    <mat-error>Program Name is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Date<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput [matDatepicker]="pic" [max]="maxDate" formControlName="vaccinationDate" readonly />
                    <mat-datepicker-toggle matSuffix [for]="pic"></mat-datepicker-toggle>
                    <mat-datepicker #pic></mat-datepicker>
                    <mat-error>Date is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Animal Type<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="animalTypeId" readonly>
                      <mat-option value="">Select Animal Type</mat-option>
                      <mat-option *ngFor="let animalType of animalTypes" [value]="animalType.id">
                        {{ animalType.animalType }}</mat-option
                      >
                    </mat-select>
                    <mat-error>Animal Type is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Vaccine Type<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select name="user[year]" formControlName="vaccineType">
                      <mat-option value="">ARV</mat-option>
                      <mat-option value="ARV">ARV</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label" for="Exchange"
                    >Ownership Status<span class="text-danger">*</span></label
                  >
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select name="user[year]" formControlName="ownershipStatus">
                      <mat-option value="">Select Ownership Status</mat-option>
                      <mat-option value="Owned">Owned</mat-option>
                      <mat-option value="Unowned">Unowned</mat-option>
                    </mat-select>
                    <mat-error>Ownership Status is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="massDogForm.value.ownershipStatus === 'Owned'">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="col-form-label">Search</label>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <input
                          type="text"
                          matInput
                          formControlName="petRegistrationNoOrMicrochip"
                          matInput
                          name="emailId"
                          placeholder="Pet Registration Number/Microchip Number"
                          required
                        />
                        <mat-error>Pet Registration Number/Microchip Number is required</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="searchButtonSCSS">
                      <label class="col-form-label"></label>
                      <button (click)="getPetRegistrationNumberMass()" color="primary" mat-raised-button>
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            &nbsp;

            <div class="container" *ngIf="massDogForm.value.ownershipStatus === 'Owned'">
              <mat-toolbar class="titleTopic">
                <h5 class="p-2" style="padding-top: 20px; margin-left: 5px">Owner Details</h5>
              </mat-toolbar>

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">CID Number </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input formControlName="cid" matInput name="dzongkhag" placeholder="CID Number" readonly />
                    <!-- <mat-error>CID Number is required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Name of the Owner </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input readonly type="text" matInput formControlName="ownerName" placeholder="Name of Owner" />
                    <mat-error>Name of the Owner is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              &nbsp;
              <h5>Present Address</h5>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Dzongkhag :<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select disabled formControlName="dzongkhagId" (selectionChange)="getGewogs($event.value)">
                      <mat-option value="">Select Dzongkhag</mat-option>
                      <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">{{
                        dzongkhag.dzongkhagName
                      }}</mat-option>
                    </mat-select>
                    <mat-error>Dzongkhag is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Gewog :<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select disabled (selectionChange)="getVillage($event.value)" formControlName="gewogId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let gewog of gewogs" [value]="gewog.id">{{ gewog.gewogName }}</mat-option>
                    </mat-select>
                    <mat-error>Gewog is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label"> Village</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select disabled formControlName="villageId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let village of villages" [value]="village.id"
                        >{{ village.villageName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Locality</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input readonly type="text" matInput formControlName="locality" placeholder="Locality" />
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Contact Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      matInput
                      formControlName="mobileNumber"
                      maxlength="8"
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                      placeholder="Contact No."
                      readonly
                    />
                    <mat-error>Contact Number is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              &nbsp;
              <mat-toolbar class="titleTopic">
                <h5 class="p-2" style="padding-top: 20px; margin-left: 5px">Pet Details</h5>
              </mat-toolbar>

              <br />

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Registration Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="petRegistrationNumber"
                      placeholder="Registration Number"
                      readonly
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Microchip Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="microchipNumber"
                      placeholder="Registration Number"
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Name of the Pet</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input type="text" matInput formControlName="petName" placeholder="Pet Name" readonly />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Sex</label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select name="user[year]" formControlName="sex" disabled>
                      <mat-option value="">Select</mat-option>
                      <mat-option value="M">Male</mat-option>
                      <mat-option value="F">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <br />

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Age</label>
                  <div class="row gutters-xs">
                    <div class="col-4">
                      <mat-form-field appearance="outline" style="width: 125px">
                        <mat-label>Year</mat-label>
                        <input formControlName="year" matInput type="number" id="number" min="0" placeholder="Year" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" style="width: 125px">
                        <mat-label>Month</mat-label>
                        <input
                          formControlName="month"
                          matInput
                          type="number"
                          id="number"
                          min="0"
                          max="31"
                          placeholder="Month"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field appearance="outline" style="width: 125px">
                        <mat-label>Day</mat-label>
                        <input
                          formControlName="day"
                          matInput
                          type="number"
                          id="number"
                          min="0"
                          max="100"
                          placeholder="Day"
                        />
                        <mat-error>Age is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label" for="text-input">Breed</label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="petBreedId" disabled>
                      <mat-option></mat-option>
                      <mat-option *ngFor="let petBreed of petBreeds" [value]="petBreed.id"
                        >{{ petBreed.breed }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6" *ngIf="editableShow">
                  <label class="col-form-label">Neuter Status</label>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select formControlName="neuterStatus" (selectionChange)="validateNeatus()">
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                      <mat-option value="Unknown">Unknown</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="notEditableShow">
                  <label class="col-form-label">Neuter Status </label>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="neuterStatus" readonly />
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="neuterStatusFlag">
                  <label class="col-form-label">Breeder Status</label>
                  <mat-radio-group
                    class="mat-radio-group p-3"
                    aria-label="Select an option"
                    formControlName="breederStatus"
                  >
                    <mat-radio-button value="Yes">Yes </mat-radio-button>
                    <mat-radio-button value="No">No </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>

            &nbsp; &nbsp;
            <div class="container" *ngIf="massDogForm.value.ownershipStatus === 'Unowned'">
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Catching Method<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="catchMethodId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let petBreed of catchMethods" [value]="petBreed.id"
                        >{{ petBreed.catchName }}
                      </mat-option>
                    </mat-select>
                    <mat-error>Catching Method is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              &nbsp;
              <mat-toolbar class="titleTopic">
                <h5 class="p-2" style="padding-top: 20px; margin-left: 5px">
                  Location of the Dog (for free-roaming dog)
                </h5>
              </mat-toolbar>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Latitude<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="number"
                      onkeyup="if(this.value<0){this.value= this.value * -1 }"
                      onkeypress="return event.charCode <= 57"
                      matInput
                      formControlName="latitude"
                      placeholder=" Latitude "
                    />
                    <mat-error>Latitude is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Longitude<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="number"
                      onkeyup="if(this.value<0){this.value= this.value * -1}"
                      onkeypress="return event.charCode <= 57"
                      matInput
                      formControlName="longitude"
                      placeholder=" Longitude "
                    />
                    <mat-error>Longitude is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />

              <h5>Present Address</h5>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Dzongkhag<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="dzongkhagId" (selectionChange)="getGewogs($event.value)">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">{{
                        dzongkhag.dzongkhagName
                      }}</mat-option>
                    </mat-select>
                    <mat-error>Dzongkhag is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label"> Gewog<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select (selectionChange)="getVillage($event.value)" formControlName="gewogId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let gewog of gewogs" [value]="gewog.id">{{ gewog.gewogName }}</mat-option>
                    </mat-select>
                    <mat-error>Gewog is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label"> Village</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select formControlName="villageId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let village of villages" [value]="village.id"
                        >{{ village.villageName }}
                      </mat-option>
                    </mat-select>
                    <mat-error>Gewog is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Locality</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input type="text" matInput formControlName="locality" placeholder="Locality " />
                  </mat-form-field>
                </div>
              </div>
              &nbsp;

              <mat-toolbar class="titleTopic">
                <h5 class="p-2" style="padding-top: 20px; margin-left: 5px">Dog Details (for free-roaming dog)</h5>
              </mat-toolbar>

              &nbsp;
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Sex<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select name="user[]" formControlName="sex">
                      <mat-option value="">Select Sex</mat-option>
                      <mat-option value="M">Male</mat-option>
                      <mat-option value="F">Female</mat-option>
                    </mat-select>
                    <mat-error>Sex is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Age</label>
                  <div class="row gutters-xs">
                    <div class="col-4">
                      <mat-form-field appearance="outline" style="width: 130px">
                        <mat-label>Year</mat-label>
                        <input formControlName="year" matInput placeholder="Year(1-29)" id="number" min="0" max="12" />
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field appearance="outline" style="width: 130px">
                        <mat-label>Month</mat-label>
                        <input
                          formControlName="month"
                          matInput
                          type="number"
                          id="number"
                          min="0"
                          max="31"
                          placeholder="Month(1-11)"
                          (change)="validateYear('month')"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-4">
                      <mat-form-field appearance="outline" style="width: 130px">
                        <mat-label>Day</mat-label>

                        <input
                          formControlName="day"
                          matInput
                          placeholder="Day(1-29)"
                          id="number"
                          (change)="validateYear('day')"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Breed<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="petBreedId">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let petBreed of petBreeds" [value]="petBreed.id"
                        >{{ petBreed.breed }}
                      </mat-option>
                    </mat-select>
                    <mat-error>Breed is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Body Colour<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input type="text" matInput formControlName="bodyColour" placeholder="Body Colour " />
                    <mat-error>Body Colour is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              &nbsp;

              <!-- <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label"> Upload Photo</label>

                  <input (change)="selectFile($event.target.files, 'Photo')" id="file" type="file" />
                </div>
              </div> -->
            </div>

            <hr />
            <mat-card-actions>
              <button mat-raised-button color="primary" style="margin-left: 2em" (click)="saveMassDog()">Submit</button>
              <!-- <button mat-raised-button color="primary" (click)="resetButton()">Reset</button> -->
            </mat-card-actions>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
