<!-- <mat-card>
  <mat-toolbar style="background-color: #000000">
    <mat-card-title style="color: white">User Profile</mat-card-title>
  </mat-toolbar>
  <div class="col-md-12 col-lg-12">
    <form class="form-horizontal form" [formGroup]="profileForm">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">CID<span class="text-danger">*</span>:</label>
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CID</mat-label>
            <input matInput formControlName="cid" />
            <mat-error>required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Username<span class="text-danger">*</span>:</label>
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <mat-error>required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Mobile Number<span class="text-danger">*</span>:</label>
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" />
            <mat-error>required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Designation<span class="text-danger">*</span>:</label>
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Designation</mat-label>
            <input matInput formControlName="designation" />
            <mat-error>required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Role<span class="text-danger">*</span>:</label>
        <div class="col-md-9">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role" />
            <mat-error>required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-card> -->

<mat-card>
  <mat-toolbar style="background-color: #327ebd">
    <mat-card-title style="color: white">Change Password</mat-card-title>
  </mat-toolbar>
  <div style="padding-top: 10px">
    <form [formGroup]="passwordForm">
      <div class="form-group row">
        <label class="col-md-6 col-form-label" for="text-input"
          >Enter Old Password<span class="text-danger">*</span></label
        >
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="oldPassword" placeholder="Old Password" (change)="checkPassword()" />
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-6 col-form-label" for="text-input"
          >Enter New Password<span class="text-danger">*</span></label
        >
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" placeholder="New Password" />
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-6 col-form-label" for="text-input"
          >Confirm New Password<span class="text-danger">*</span></label
        >
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
          </mat-form-field>
        </div>
      </div>
    </form>
    <button
      style="background-color: #327ebd"
      mat-raised-button
      class="login-button"
      [disabled]="!passwordForm.valid"
      (click)="checkNewPassword()"
    >
      <span style="color: #ffffff" translate>Update</span>
    </button>
  </div>
</mat-card>
