<mat-card-header>
  <mat-card-title>Add Vaccine Type </mat-card-title>
</mat-card-header>
<mat-dialog-content>
  <div class="col-md-12 col-lg-12">
    <form class="form-horizontal" [formGroup]="vaccineForm">
      <div class="form-group row">
        <label class="col-md-3 col-form-label"> Vaccine Type</label>
        <div class="col-md-9">
          <mat-form-field appearance="outline">
            <mat-label> Vaccine Type</mat-label>
            <input matInput formControlName="vaccineName" placeholder="" />
            <mat-error>Vaccine Type is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">AnimalType</label>
        <div class="col-md-9">
          <mat-form-field appearance="outline">
            <mat-label>AnimlType</mat-label>
            <mat-select formControlName="animalTypeId">
              <mat-option></mat-option>
              <mat-option *ngFor="let systen of animalType" [value]="systen.id">
                {{ systen.animalType }}
              </mat-option>
            </mat-select>
            <mat-error>System is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">species</label>
        <div class="col-md-9">
          <mat-form-field appearance="outline">
            <mat-label>species</mat-label>
            <mat-select formControlName="speciesId">
              <mat-option></mat-option>
              <mat-option *ngFor="let systen of species" [value]="systen.id">
                {{ systen.speciesName }}
              </mat-option>
            </mat-select>
            <mat-error>System is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    *ngIf="actionType === 'ADD'"
    mat-raised-button
    color="primary"
    [disabled]="!vaccineForm.valid"
    (click)="saveVaccineType()"
  >
    Add
  </button>
  <button
    *ngIf="actionType === 'EDIT'"
    mat-raised-button
    color="primary"
    [disabled]="!vaccineForm.valid"
    (click)="updateVaccineType()"
  >
    Update
  </button>
  <button
    *ngIf="actionType === 'Delete'"
    mat-raised-button
    color="warn"
    [disabled]="!vaccineForm.valid"
    (click)="updateVaccineType()"
  >
    Delete
  </button>
  <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
