.button-width {
  width: 250px !important;
  min-width: unset !important;
  width: 47%;
  float: left;
  padding-bottom: 10px;
  padding-right: 20px;
  margin: 5px;
  text-align: left;
  color: rgb(47, 0, 255);
}
