<div fxFlex>
  <mat-toolbar color="primary" style="text-align: end">
    <div fxLayoutAlign="center" style="margin: 0 auto">
      <h3 translate>Veterinary Information System</h3>
    </div>
  </mat-toolbar>
  <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
    <img src="../../../assets/vis-logo-black.png" style="width: 130px; height: 140px" alt="logo" />
    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
      <mat-card class="example-container mat-elevation-z8 tranportation-container">
        <mat-card-title style="text-align: center; padding-bottom: 15px">Password Reset</mat-card-title>
        <mat-card-content>
          <form [formGroup]="passwordForm">
            <div class="form-group row">
              <label class="col-md-6 col-form-label" for="text-input"
                >Enter CID No<span class="text-danger">*</span>:</label
              >
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>CID No</mat-label>
                  <input type="tel" maxlength="11" maxlength="11" matInput formControlName="cid" placeholder="CID No" />
                  <mat-error *ngIf="passwordForm.controls['cid'].hasError('minlength')">
                    CID number cannot be less then 11 digits
                  </mat-error>
                  <mat-error *ngIf="passwordForm.controls['cid'].hasError('required')">
                    CID is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label" for="text-input"
                >Enter Email Address<span class="text-danger">*</span>:</label
              >
              <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="email" placeholder="Email Address" />
                  <mat-error *ngIf="passwordForm.controls['email'].hasError('')"> required! </mat-error>
                  <mat-error *ngIf="passwordForm.controls['email'].hasError('pattern')"> Invalid Email </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
          <button mat-raised-button class="login-button" [disabled]="!passwordForm.valid" (click)="forgotPassword()">
            <span translate>Submit</span>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
