@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.user-button {
  background-color: #03a9f4;
  box-shadow: none;
  min-width: 40px;
  // margin-right: -150px;
  // margin: auto auto auto 600px;
  ::ng-deep {
    outline: none;
  }

  &__icon {
    color: #fff;
  }
}

.user-menu-icon {
  color: $light-grey;
  margin-right: 45px;
  opacity: 0.8;
}

.user-menu {
  &__item-title {
    color: #03a9f4;

    &:hover {
      color: $dark-grey;
      background-color: $blue-white;
      // text-underline: none;

      & .user-menu-icon {
        color: $grey;
      }
    }
  }
}
