<mat-card>
  <div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="button-component-holder mat-elevation-z4">
      <mat-toolbar class="button-header">
        <h5 class="p-2" style="padding-top: 20px; margin-left: 20px">Pet Ownership Transfer</h5>
      </mat-toolbar>
      <div class="button-container">
        <div class="container">
          <form class="form-horizontal form" [formGroup]="ownershipTransferForm">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <label class="col-form-label">Search<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="petRegistrationNoOrMicrochip"
                      placeholder="Pet Registration Number/Microchip Number"
                    />
                    <mat-error>Pet Registration Number required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2" style="margin-top: 35px; margin-left: -40px">
                  <label class="col-form-label"></label>
                  <button (click)="getPetRegistrationNumber()" color="primary" mat-raised-button>
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
              <br />
              <br />

              <div class="row">
                <div class="form-group row" *ngIf="imageShow" style="margin: 0 auto">
                  <div class="col-md-6">
                    <img
                      style="width: 200px; height: 60%; float: right"
                      src="data:image/jpeg;base64,{{ showingImage }}"
                    />
                  </div>

                  <div class="col-md-6" *ngIf="barcodeshow">
                    <img
                      style="width: 200px; height: 60%; float: right"
                      src="data:image/jpeg;base64,{{ showingBarCode }}"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Pet Registration Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      type="text"
                      matInput
                      formControlName="petRegistrationNo"
                      (change)="getPetRegistrationNumber()"
                      readonly
                      placeholder="Registration Number"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Animal Ownership Type <span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select formControlName="petRegistrationTypeId" (selectionChange)="validateRoyal()">
                      <mat-option value="">Select Animal Ownership Type</mat-option>
                      <mat-option *ngFor="let ownershipType of ownershipTypes" [value]="ownershipType.id">{{
                        ownershipType.ownerType
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Registration Date</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      matInput
                      [matDatepicker]="picks"
                      formControlName="registrationDate"
                      disabled
                      placeholder="Registration Date"
                      readOnly
                    />
                    <mat-datepicker-toggle matSuffix [for]="picks"></mat-datepicker-toggle>
                    <mat-datepicker #picks></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <h4 class="color:black">Owner Details</h4>
              <div class="form-group row">
                <mat-radio-group
                  (change)="changeNationality($event)"
                  aria-label="Select an option"
                  class="mat-radio-group p-3"
                  formControlName="nationality"
                >
                  <mat-radio-button value="{{ 1 }}">Bhutanese</mat-radio-button>
                  <mat-radio-button value="{{ 2 }}" *ngIf="nonbFlag">Non-Bhutanese</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Ownership Transfer Date<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      [matDatepicker]="picker"
                      [max]="maxDate"
                      formControlName="transferDate"
                      matInput
                      placeholder="Select Transfer Date"
                      readonly
                    />
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6" *ngIf="showCidForm">
                  <label class="col-form-label"
                    >CID Number<span class="text-danger" *ngIf="cidValidation">*</span></label
                  >
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      formControlName="cid"
                      matInput
                      name="cid"
                      required
                      placeholder="CID"
                      (change)="getCitizen($event.target.value)"
                      maxlength="11"
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    />
                    <mat-error *ngIf="dontShow">CID is required</mat-error>
                  </mat-form-field>
                </div>

                <div *ngIf="nationality === false" class="col-md-6">
                  <label class="col-form-label">Passport Number/Work Permit number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      formControlName="passportNumber"
                      matInput
                      name="passportNumber"
                      placeholder="Passport Number"
                      required
                    />
                    <mat-error>Passport Number/Work Permit number is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Owner Name</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input formControlName="ownerName" matInput name="ownerName" placeholder="Owner Name" required />
                    <mat-error>Owner Name required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div *ngIf="nationality === false">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Country<span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select formControlName="countryId" required>
                        <mat-option value="">Select Country</mat-option>
                        <mat-option *ngFor="let country of countrys" [value]="country.id">{{
                          country.countryName
                        }}</mat-option>
                      </mat-select>
                      <mat-error>Country is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <br />

              <h5>Present Address</h5>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Dzongkhag<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="dzongkhagId" (selectionChange)="getGewogs($event.value)" required>
                      <mat-option value="">Select Dzongkhag</mat-option>
                      <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">{{
                        dzongkhag.dzongkhagName
                      }}</mat-option>
                    </mat-select>
                    <mat-error>Dzongkhag is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Gewog<span class="text-danger">*</span></label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="gewogId" (selectionChange)="getVillage($event.value)" required>
                      <mat-option value="">Select Gewog</mat-option>
                      <mat-option *ngFor="let gewog of gewogs" [value]="gewog.id">{{ gewog.gewogName }}</mat-option>
                    </mat-select>
                    <mat-error>Gewog is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Village</label>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-select formControlName="villageId">
                      <mat-option value="">Select Village</mat-option>
                      <mat-option *ngFor="let village of villages" [value]="village.id">{{
                        village.villageName
                      }}</mat-option>
                    </mat-select>
                    <!-- <mat-error>village is required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Locality</label>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <textarea matInput formControlName="locality" name="" placeholder="Locality"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Mobile Number<span class="text-danger">*</span></label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      matInput
                      formControlName="mobileNumber"
                      name="mobileNumber"
                      maxlength="8"
                      placeholder="Mobile Number"
                      required
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    />
                    <mat-error>Mobile Number is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Email ID </label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="emailId" name="emailId" placeholder="Email ID" />
                    <mat-error>Email ID is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <h4>Pet Details</h4>
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Pet Name</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="petName" name="" placeholder="Pet Name" />
                    <!-- <mat-error>Pet Name is required</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="dontshowIT">
                  <label class="col-form-label">Microchip Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      matInput
                      formControlName="microchipNumber"
                      name="microchipNumber"
                      placeholder="Microchip Number"
                      readonly
                    />
                    <!-- <mat-error>Microchip Number is required</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Species</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input formControlName="speciesName" matInput name="speciesName" readonly placeholder="Species" />
                    <mat-error>Species is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Breed</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input formControlName="breed" matInput name="breed" readonly placeholder="Breed" />
                    <!-- <mat-error>Breed is required</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label">Colour</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="colour" placeholder="Colour" readonly />
                    <mat-error>Colour is required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="col-form-label">Distinguishing Mark</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="distinguishingMark" placeholder="Distinguishing Mark" readonly />
                    <!-- <mat-error>Distinguishing mark is required</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <br />
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Age</label>
                    <div class="row gutters-xs">
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 100px">
                          <mat-label>Year</mat-label>
                          <input formControlName="year" matInput type="number" id="number" min="0" placeholder="Year" />
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 100px">
                          <mat-label>Month</mat-label>
                          <input
                            formControlName="month"
                            matInput
                            type="number"
                            id="number"
                            min="0"
                            (change)="validateYear('month')"
                            placeholder="Day(1-11)"
                            placeholder="Month"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 100px">
                          <mat-label>Day</mat-label>
                          <input
                            formControlName="day"
                            matInput
                            type="number"
                            id="number"
                            min="0"
                            placeholder="Day"
                            (change)="validateYear('day')"
                            placeholder="Day(1-29)"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Sex</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input formControlName="sex" matInput readonly placeholder="Sex" />
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6" *ngIf="editableShow">
                  <label class="col-form-label">Neuter Status</label>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-select formControlName="neuterStatus" (selectionChange)="validateNeatus()">
                      <mat-option value="">Select Neuter Status</mat-option>
                      <mat-option value="Yes">Yes</mat-option>
                      <mat-option value="No">No</mat-option>
                      <mat-option value="Unknown">Unknown</mat-option>
                    </mat-select>
                    <!-- <mat-error>Neutered Status is required</mat-error> -->
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="notEditableShow">
                  <label class="col-form-label">Neuter Status </label>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="neuterStatus" readonly />
                  </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="neuterStatusFlag">
                  <label class="col-form-label">Breeder Status</label>
                  <mat-radio-group
                    class="mat-radio-group p-3"
                    aria-label="Select an option"
                    formControlName="breederStatus"
                  >
                    <mat-radio-button value="Yes">Yes </mat-radio-button>
                    <mat-radio-button value="No">No </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label class="col-form-label"> Revenue Receipt Number</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput formControlName="receiptNumber" placeholder=" Revenue Receipt Number" readonly />
                    <mat-error Revenue Receipt Number></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <label class="col-form-label">Next Renewal Date</label>
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input
                      matInput
                      [matDatepicker]="pick1"
                      formControlName="dateRenewal"
                      readonly
                      placeholder="Next Renewal Date"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pick1"></mat-datepicker-toggle>
                    <mat-datepicker #pick1></mat-datepicker>
                    <mat-error>Date is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <hr />

              <!-- <mat-card> -->
              <!-- <h4>New Ownership Transfer Details</h4>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Pet Registration Type <span class="text-danger">*</span>:</label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select formControlName="petRegistrationTypeId" (selectionChange)="validateRoyal()">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let ownershipType of ownershipTypes" [value]="ownershipType.id">{{
                          ownershipType.ownerType
                        }}</mat-option>
                      </mat-select>
                      <mat-error>Pet Registration Type is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="form-group row">
                    <mat-radio-group
                      (change)="changeNationality($event)"
                      aria-label="Select an option"
                      class="mat-radio-group p-3"
                      formControlName="nationality"
                    >
                      <mat-radio-button [value]="1">Bhutanese</mat-radio-button>
                      <mat-radio-button [value]="2" *ngIf="nonbFlag">Non-Bhutanese</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <h4>Owner Details</h4>
                <div class="form-group row">
                  <div *ngIf="nationality === true" class="col-md-6">
                    <label class="col-form-label">CID Number<span class="text-danger">*</span>:</label>
                    <mat-form-field appearance="outline" class="example-full-width" [hideRequiredMarker]="false">
                      <input
                        matInput
                        formControlName="cid"
                        (change)="getCitizen($event.target.value)"
                        type="number"
                        name="cid"
                        placeholder="CID Number"
                      />
                      <mat-error>Enter Valid CID Number</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="nationality === false" class="col-md-6">
                    <label class="col-form-label"
                      >Passport Number/Work Permit number<span class="text-danger">*</span>:</label
                    >
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input
                        formControlName="passportNumber"
                        matInput
                        name="passportNumber"
                        placeholder="Passport Number"
                      />
                      <mat-error>Enter valid Passport Number</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Owner Name <span class="text-danger">*</span>:</label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input formControlName="ownerName" id="ownerName" matInput name="ownerName" />
                      <mat-error>Enter Valid Owner Name</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="nationality === false">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label class="col-form-label">Country</label>
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-select formControlName="countryId">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let country of countrys" [value]="country.id">{{
                            country.countryName
                          }}</mat-option>
                        </mat-select>
                        <mat-error>Country is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <h5>Present Address</h5>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Dzongkhag <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select (selectionChange)="getGewogs($event.value)" formControlName="dzongkhagId">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let dzongkhag of dzongkhags" [value]="dzongkhag.id">{{
                          dzongkhag.dzongkhagName
                        }}</mat-option>
                      </mat-select>
                      <mat-error>Dzongkhag is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Gewog <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select (selectionChange)="getVillage($event.value)" formControlName="gewogId">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let gewog of gewogs" [value]="gewog.id">{{ gewog.gewogName }}</mat-option>
                      </mat-select>
                      <mat-error>Gewog is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Village</label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-select formControlName="villageId">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let village of villages" [value]="village.id">{{
                          village.villageName
                        }}</mat-option>
                      </mat-select>
                      <mat-error>Village is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Locality <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <textarea formControlName="locality" matInput name="locality"></textarea>
                      <mat-error>Locality is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Mobile Number <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input
                        formControlName="mobileNumber"
                        matInput
                        name="mobileNumber"
                        placeholder="Mobile Number"
                        required
                      />
                      <mat-error>Enter valid number</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Email ID <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input formControlName="emailId" matInput name="emailId" placeholder="Email ID" />
                      <mat-error>Email ID is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <h4>Pet Details</h4>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label class="col-form-label">Pet Name <span class="text-danger">*</span></label>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <input formControlName="petName" matInput name="" placeholder="Pet Name" />
                      <mat-error>Pet Name is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Age</label>
                    <div class="row gutters-xs">
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 120px">
                          <mat-label>Year(1-100)</mat-label>
                          <input
                            formControlName="year"
                            matInput
                            type="number"
                            id="number"
                            min="0"
                            max="100"
                            (change)="validateYear('year')"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 120px">
                          <mat-label>Month(1-11)</mat-label>
                          <input
                            formControlName="month"
                            matInput
                            type="number"
                            id="number"
                            min="0"
                            max="31"
                            (change)="validateYear('month')"
                          />
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field appearance="outline" style="width: 120px">
                          <mat-label>Day(1-29)</mat-label>
                          <input
                            formControlName="day"
                            matInput
                            type="number"
                            id="number"
                            min="0"
                            max="100"
                            (change)="validateYear('day')"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card> -->

              <hr />
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="updatePetRegistration()">Transfer</button>
                <!-- <button mat-raised-button color="primary" (click)="printPage()">
                  <mat-icon>print</mat-icon>&nbsp;Print
                </button> -->
              </mat-card-actions>

              <hr />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
